In [2]:
import requests
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
# Replace YOUR_API_KEY with your own Alpha Vantage API key
api_key = "K973YJ8KE4LDXPPS."

# Define the URL for the API request
symbol = "AAPL" # Replace with any stock symbol of your choice
url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&apikey={api_key}"

# Send a request to the Alpha Vantage API and convert the response to a Pandas DataFrame
response = requests.get(url)

data = response.json()["Time Series (Daily)"]
df = pd.DataFrame.from_dict(data, orient="index")

In [4]:
df

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2023-03-21,157.32,159.4,156.54,159.28,159.28,73938285,0.0000,1.0
2023-03-20,155.07,157.82,154.15,157.4,157.4,73641415,0.0000,1.0
2023-03-17,156.08,156.74,154.28,155.0,155.0,98944633,0.0000,1.0
2023-03-16,152.16,156.46,151.64,155.85,155.85,76254419,0.0000,1.0
2023-03-15,151.19,153.245,149.92,152.99,152.99,77167866,0.0000,1.0
...,...,...,...,...,...,...,...,...
2022-11-01,155.08,155.45,149.13,150.65,149.981689255148,80379345,0.0000,1.0
2022-10-31,153.155,154.24,151.92,153.34,152.659755926879,97943171,0.0000,1.0
2022-10-28,148.2,157.5,147.82,155.74,155.049109091249,164762371,0.0000,1.0
2022-10-27,148.07,149.046,144.13,144.8,144.157640916996,109180150,0.0000,1.0
2022-10-26,150.96,151.99,148.04,149.35,148.687456291114,88436172,0.0000,1.0

In [5]:
# Convert the DataFrame to the appropriate data types and add a target variable
df = df.astype(float)
df["target"] = df["4. close"].shift(-1)

In [6]:
df.head(5)

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,target
2023-03-21,157.32,159.400,156.54,159.28,159.28,73938285.0,0.0,1.0,157.40
2023-03-20,155.07,157.820,154.15,157.40,157.40,73641415.0,0.0,1.0,155.00
2023-03-17,156.08,156.740,154.28,155.00,155.00,98944633.0,0.0,1.0,155.85
2023-03-16,152.16,156.460,151.64,155.85,155.85,76254419.0,0.0,1.0,152.99
2023-03-15,151.19,153.245,149.92,152.99,152.99,77167866.0,0.0,1.0,152.59

In [7]:
# Split the data into training and testing sets
X = df.iloc[:-1, :-1]
y = df.iloc[:-1, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Fit a linear regression model to the training data

In [8]:
X

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2023-03-21,157.320,159.400,156.54,159.28,159.280000,73938285.0,0.0,1.0
2023-03-20,155.070,157.820,154.15,157.40,157.400000,73641415.0,0.0,1.0
2023-03-17,156.080,156.740,154.28,155.00,155.000000,98944633.0,0.0,1.0
2023-03-16,152.160,156.460,151.64,155.85,155.850000,76254419.0,0.0,1.0
2023-03-15,151.190,153.245,149.92,152.99,152.990000,77167866.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2022-11-02,148.945,152.170,145.00,145.03,144.386621,93604623.0,0.0,1.0
2022-11-01,155.080,155.450,149.13,150.65,149.981689,80379345.0,0.0,1.0
2022-10-31,153.155,154.240,151.92,153.34,152.659756,97943171.0,0.0,1.0
2022-10-28,148.200,157.500,147.82,155.74,155.049109,164762371.0,0.0,1.0
2022-10-27,148.070,149.046,144.13,144.80,144.157641,109180150.0,0.0,1.0

In [9]:
model = LinearRegression()
model.fit(X_train, y_train)

# Evaluate the model on the testing data
score = model.score(X_test, y_test)
print(f"Model score: {score}")

Model score: 0.9638441171217157

In [10]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Make predictions on the testing data
y_pred = model.predict(X_test)

# Evaluate the model using regression metrics
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)  # RMSE
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean squared error: {mse:.2f}")
print(f"Root mean squared error: {rmse:.2f}")
print(f"Mean absolute error: {mae:.2f}")
print(f"R-squared: {r2:.2f}")

Mean squared error: 2.19
Root mean squared error: 1.48
Mean absolute error: 1.23
R-squared: 0.96

In [11]:
import pickle

In [12]:
# Save the model to a file
with open('my_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [13]:
X_test

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2022-12-30,128.410,129.9500,127.430,129.93,129.732407,77034209.0,0.0,1.0
2023-01-11,131.250,133.5100,130.460,133.49,133.286994,69458949.0,0.0,1.0
2022-11-14,148.970,150.2800,147.430,148.28,147.867564,73374114.0,0.0,1.0
2022-11-07,137.110,139.1450,135.671,138.92,138.533599,83374628.0,0.0,1.0
2022-11-08,140.410,141.4300,137.490,139.50,139.111986,89908477.0,0.0,1.0
2022-11-11,145.820,150.0100,144.370,149.70,149.283615,93979665.0,0.0,1.0
2022-12-12,142.700,144.5000,141.060,144.49,144.088106,70462654.0,0.0,1.0
2023-02-02,148.900,151.1800,148.170,150.82,150.590639,118338980.0,0.0,1.0
2022-12-09,142.340,145.5700,140.900,142.16,141.764587,76097011.0,0.0,1.0
2023-01-23,138.120,143.3150,137.900,141.11,140.895405,81760313.0,0.0,1.0
2023-02-09,153.775,154.3300,150.420,150.87,150.640563,56007143.0,0.0,1.0
2022-12-28,129.670,131.0275,125.870,126.04,125.848323,85438391.0,0.0,1.0
2023-01-05,127.130,127.7700,124.760,125.02,124.829874,80962708.0,0.0,1.0
2023-01-20,135.280,138.0200,134.220,137.87,137.660333,80223626.0,0.0,1.0
2022-12-15,141.110,141.8000,136.025,136.50,136.120330,98931907.0,0.0,1.0
2023-02-01,143.970,146.6100,141.320,145.43,145.208836,77663633.0,0.0,1.0
2023-01-18,136.815,138.6100,135.030,135.21,135.004378,69672800.0,0.0,1.0
2022-10-27,148.070,149.0460,144.130,144.80,144.157641,109180150.0,0.0,1.0
2023-02-21,150.200,151.3000,148.405,148.48,148.480000,58867230.0,0.0,1.0
2023-03-14,151.280,153.4000,150.100,152.59,152.590000,73695893.0,0.0,1.0

In [14]:
y_test

2022-12-30    129.61
2023-01-11    130.73
2022-11-14    149.70
2022-11-07    138.38
2022-11-08    138.92
2022-11-11    146.87
2022-12-12    142.16
2023-02-02    145.43
2022-12-09    142.65
2023-01-23    137.87
2023-02-09    151.92
2022-12-28    130.03
2023-01-05    126.36
2023-01-20    135.27
2022-12-15    143.21
2023-02-01    144.29
2023-01-18    135.94
2022-10-27    149.35
2023-02-21    152.55
2023-03-14    150.47
Name: target, dtype: float64